@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@400;500;600;700;800;900&family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&family=Montserrat:wght@400;500;600;700;800;900&family=Mulish:wght@700&family=Philosopher:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Sofia+Sans+Extra+Condensed:wght@400;500;600;700&family=Tilt+Prism&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barriecito", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Philosopher", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-family: "Tilt Prism", cursive;
  font-family: "Ubuntu", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1314px;
  padding-left: 17px;
  padding-right: 17px;
  margin: 0 auto;
}

a, li, ul, button, input {
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__left {
  display: flex;
  align-items: center;
  gap: 54px;
  padding-top: 25px;
}

.nav__left__imgs__wrap {
  display: flex;
  align-items: center;
  gap: 38px;
}

.nav__left--hiden-img {
  width: 31.818px;
  height: 25px;
  object-fit: cover;
  display: none;
  cursor: pointer;
}

.nav__left--img {
  width: 135.793px;
  height: 54px;
  object-fit: cover;
}

.nav__left__links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__left__links--link {
  color: #111;
  font-size: 16px;
  font-weight: 600;
}
.nav__left__links--link:hover {
  text-decoration: underline;
  text-decoration-color: rgb(19, 19, 19);
}

.nav__right {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 5px;
  padding-left: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 0px 0px 10px 10px;
  background: #2b7af1;
}

.nav__right__email {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav__right__email--img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}

.nav__right__email--text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.navbar--btn {
  box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.2);
  background: linear-gradient(90deg, #ff7a00 0.2%, #ffb039 99.82%);
  padding: 8px 20px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding: 15px 30px;
}

.navbar__right--hiiden-img {
  width: 30px;
  height: 30px;
  display: none;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 1270px) {
  .nav__left,
  .nav__right {
    padding-top: 15px;
  }
  .nav__left--hiden-img {
    display: block;
  }
  .nav__left--img {
    width: 87px;
    height: 34.597px;
  }
  .nav__left__links {
    display: none;
  }
  .nav__right {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 73px;
    gap: 45px;
  }
  .nav__right__email--img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  .navbar--btn {
    padding: 8px 30px;
    font-size: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .nav__left__imgs__wrap {
    gap: 28px;
  }
  .nav__left--hiden-img {
    display: block;
    width: 31.818px;
    height: 25px;
  }
  .nav__right {
    padding-left: 71px;
    gap: 40px;
  }
  .hiden {
    display: none;
  }
  .nav__right__email--img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  .navbar--btn {
    padding: 8px 30px;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .nav__right__email,
  .navbar--btn {
    display: none;
  }
  .navbar__right--hiiden-img {
    width: 30px;
    height: 30px;
    display: block;
    object-fit: cover;
  }
  .nav__right {
    gap: 15px;
    padding-left: 115px;
  }
  .nav__left {
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .nav__left__imgs__wrap {
    gap: 21px;
    align-items: center;
  }
  .nav__left--hiden-img {
    width: 32px;
    height: 33px;
  }
  .nav__right {
    padding: 15px 25px;
    gap: 15px;
  }
  .navbar__right--hiiden-img {
    width: 30px;
    height: 30px;
  }
}
.cards {
  margin-top: 50px;
}

.cards--title {
  color: #2b7af1;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 40px;
}

.cards__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards__card {
  width: 395px;
  margin-bottom: 80px;
}

.card--img {
  width: 395px;
  height: 267px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 5px;
}

.card--title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card--text {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  max-width: 395px;
  margin-bottom: 20px;
}

.card__price {
  display: flex;
  margin-bottom: 15px;
}

.card__price--text {
  color: #2b7af1;
  font-size: 24px;
  font-weight: 700;
}
.card__price--text span {
  color: #2b7af1;
  font-size: 18px;
  font-weight: 700;
}

.card__location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.card__lacation--img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.card__lacation--tetx {
  color: #333;
  font-size: 18px;
  font-weight: 400;
}

.cards--btn {
  box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.2);
  background: linear-gradient(90deg, #ff7a00 0.2%, #ffb039 99.82%);
  padding: 8px 20px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 1270px) {
  .cards {
    margin-top: 30px;
  }
  .cards__card {
    padding-left: 13px;
    width: 294px;
    margin-bottom: 40px;
  }
  .cards--title {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .cards__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }
  .card--img {
    width: 294px;
    height: 190px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .card--title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .card--text {
    width: 294px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .card__price {
    margin-bottom: 11px;
  }
  .card__price--text {
    font-size: 14px;
  }
  .card__price--text span {
    font-size: 12px;
  }
  .card__location {
    gap: 5px;
    margin-bottom: 10px;
  }
  .card__lacation--tetx {
    font-size: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .cards__card {
    padding-left: 0;
    width: 230px;
  }
  .cards--title {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .cards__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }
  .card--img {
    width: 230px;
    height: 158px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .card--text {
    width: 230px;
    margin-bottom: 5px;
  }
  .card__location {
    gap: 3px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .cards {
    margin-top: 20px;
  }
  .cards__wrap {
    gap: 11px;
  }
  .cards__card {
    width: 208px;
    margin-bottom: 40px;
  }
  .card--img {
    width: 208px;
  }
  .card--title {
    margin-bottom: 8px;
  }
  .card--text {
    width: 208px;
  }
  .card__price {
    margin-bottom: 8px;
  }
  .card__location {
    align-items: start;
  }
  .card__lacation--img {
    width: 18.7px;
    height: 22px;
  }
  .card__lacation--tetx {
    max-width: 134px;
  }
}
@media screen and (max-width: 480px) {
  .cards__wrap {
    justify-content: center;
  }
  .cards__card {
    width: 285px;
  }
  .card--img {
    width: 280px;
  }
  .card--title {
    font-size: 16px;
  }
  .card__price--text {
    font-size: 18px;
  }
  .card--text {
    width: 285px;
  }
  .card__location {
    align-items: center;
  }
  .card__lacation--tetx {
    max-width: 197px;
  }
  .cards--btn {
    width: 200px;
    display: block;
    margin: auto;
  }
}
.input_parent {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.input_parent .input_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgb(134, 133, 133);
  border-radius: 5px;
  padding: 40px 52px;
  top: 200px;
  background: #fff;
}
.input_parent .input_card h2 {
  color: #2B7AF1;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 24px;
}
.input_parent .input_card input {
  color: var(--shadow, rgba(17, 17, 17, 0.5));
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid var(--shadow, rgba(17, 17, 17, 0.5));
  padding: 10px 100px 10px 20px;
  margin-bottom: 15px;
}
.input_parent .input_card textarea {
  color: var(--shadow, rgba(17, 17, 17, 0.5));
  font-size: 16px;
  padding: 10px 100px 80px 20px;
  border-radius: 10px;
  margin-bottom: 24px;
  outline: none;
}
.input_parent .input_card button {
  box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.2);
  background: linear-gradient(90deg, #ff7a00 0.2%, #ffb039 99.82%);
  padding: 8px 20px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.input_parent .input_texts {
  position: relative;
  top: 240px;
}
.input_parent .input_texts img {
  position: absolute;
  top: -40px;
  left: -20px;
}
.input_parent .input_texts p {
  color: var(--, #111);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  max-width: 660px;
}
.input_parent .input_texts h4 {
  color: #2B7AF1;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 20px;
}
.input_parent .input_texts span {
  color: #111;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (max-width: 1000px) {
  .input_parent .input_card {
    padding: 30px 20px;
    top: 80px;
    background: #fff;
  }
  .input_parent .input_card h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .input_parent .input_card input {
    font-size: 12px;
    padding: 10px 100px 10px 20px;
    margin-bottom: 10px;
  }
  .input_parent .input_card textarea {
    font-size: 12px;
    padding: 10px 104px 80px 20px;
    margin-bottom: 20px;
  }
  .input_parent .input_card button {
    box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.2);
    background: linear-gradient(90deg, #ff7a00 0.2%, #ffb039 99.82%);
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  .input_parent .input_texts {
    top: 180px;
  }
  .input_parent .input_texts img {
    top: -40px;
    left: -20px;
  }
  .input_parent .input_texts p {
    font-size: 14px;
    max-width: 600px;
  }
  .input_parent .input_texts h4 {
    font-size: 14px;
    margin-top: 20px;
  }
  .input_parent .input_texts span {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .input_parent {
    gap: 40px;
  }
  .input_parent .input_card textarea {
    padding: 10px 104px 60px 20px;
  }
  .input_parent .input_texts {
    top: 120px;
  }
  .input_parent .input_texts p {
    max-width: 400px;
  }
  .input_parent .input_texts h4 {
    margin-top: 15px;
  }
}
@media screen and (max-width: 630px) {
  .input_card {
    width: 100%;
  }
  .input_texts {
    display: none;
  }
}
.footer {
  background: url(../../img/Copyright.png);
  height: 70vh !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer_parent {
  height: 70vh !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footer_parent .footer_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.footer_parent .footer_bar .footer_logo {
  display: none;
}
.footer_parent .footer_bar ul {
  display: flex;
  gap: 40px;
}
.footer_parent .footer_bar .footer_link {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: 0.3s linear;
  padding-bottom: 8px;
}
.footer_parent .footer_bar .footer_link:hover {
  border-bottom: 2px solid #FFF;
  padding-bottom: 0;
  transition: 0.3s linear;
}
.footer_parent .footer_contact {
  display: flex;
  gap: 20px;
}
.footer_parent .footer_contact div:nth-child(1) {
  display: flex;
  gap: 20px;
}
.footer_parent .footer_contact div:nth-child(2) {
  display: flex;
  gap: 10px;
}
.footer_parent .footer_contact a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFF;
  font-size: 16px;
  transition: 0.3s linear;
}
.footer_parent .footer_contact a img:hover {
  transition: 0.3s linear;
  transform: scale(1.1);
}
.footer_parent .footer_bottom {
  display: flex;
  gap: 220px;
  padding: 20px 0;
}
.footer_parent .footer_bottom p {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}

.footer_media {
  display: none;
  background: #2B7AF1;
  margin-top: 140px;
}
.footer_media .media_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}
.footer_media .media_parent .footer_media__logo {
  background: #FFF;
  padding: 9px 13px;
  border-radius: 5px;
}
.footer_media .media_parent .social_media {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1040px) {
  .footer {
    height: 40vh !important;
  }
  .footer_parent {
    height: 40vh !important;
  }
  .footer_parent .footer_bar .footer_logo {
    display: block;
  }
  .footer_parent .footer_bar ul {
    display: none;
  }
  .footer_parent .footer_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .footer_bar div:nth-child(1) a:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  .footer {
    display: none;
  }
  .footer_media {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
