.cards {
  margin-top: 50px;
}
.cards--title {
  color: #2b7af1;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 40px;
}
.cards__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards__card {
  width: 395px;
  margin-bottom: 80px;
}
.card--img {
  width: 395px;
  height: 267px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 5px;
}
.card--title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.card--text {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  max-width: 395px;
  margin-bottom: 20px;
}
.card__price {
  display: flex;
  margin-bottom: 15px;
}
.card__price--text {
  color: #2b7af1;
  font-size: 24px;
  font-weight: 700;
  span {
    color: #2b7af1;
    font-size: 18px;
    font-weight: 700;
  }
}
.card__location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.card__lacation--img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.card__lacation--tetx {
  color: #333;
  font-size: 18px;
  font-weight: 400;
}
.cards--btn {
  @include btn;
}
@media screen and (max-width: 1270px) {
  .cards {
    margin-top: 30px;
  }
  .cards__card {
    padding-left: 13px;
    width: 294px;
    margin-bottom: 40px;
  }
  .cards--title {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .cards__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }
  .card--img {
    width: 294px;
    height: 190px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .card--title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .card--text {
    width: 294px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .card__price {
    margin-bottom: 11px;
  }
  .card__price--text {
    font-size: 14px;
    span {
      font-size: 12px;
    }
  }
  .card__location {
    gap: 5px;
    margin-bottom: 10px;
  }
  .card__lacation--tetx {
    font-size: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .cards__card {
    padding-left: 0;
    width: 230px;
  }
  .cards--title {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .cards__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }
  .card--img {
    width: 230px;
    height: 158px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .card--text {
    width: 230px;
    margin-bottom: 5px;
  }
  .card__location {
    gap: 3px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .cards {
    margin-top: 20px;
  }
  .cards__wrap {
    gap: 11px;
  }
  .cards__card {
    width: 208px;
    margin-bottom: 40px;
  }
  .card--img {
    width: 208px;
  }
  .card--title {
    margin-bottom: 8px;
  }
  .card--text {
    width: 208px;
  }
  .card__price {
    margin-bottom: 8px;
  }
  .card__location {
    align-items: start;
  }
  .card__lacation--img {
    width: 18.7px;
    height: 22px;
  }
  .card__lacation--tetx {
    max-width: 134px;
  }
}
@media screen and (max-width: 480px) {
    .cards__wrap{
        justify-content: center;
    }
  .cards__card {
    width: 285px;
  }
  .card--img {
    width: 280px;
  }
  .card--title {
    font-size: 16px;
  }
  .card__price--text {
    font-size: 18px;
  }
  .card--text {
    width: 285px;
  }
  .card__location{
    align-items: center;
  }
  .card__lacation--tetx{
    max-width:197px ;
  }
  .cards--btn{
    width: 200px;
    display: block;
    margin: auto;
  }
}
