.footer{
    background: url(../../img/Copyright.png);
    height: 70vh !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_parent{
    height: 70vh !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .footer_bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        .footer_logo{
            display: none;
        }
        ul{
            display: flex;
            gap: 40px;
        }
        .footer_link{
            color: #FFF;
            font-size: 16px;
            font-weight: 600;
            border-bottom: 2px solid transparent;
            transition: .3s linear;
            padding-bottom: 8px;
            &:hover{    
                border-bottom: 2px solid #FFF;
                padding-bottom: 0;
                transition: .3s linear;
            }
        } 
    }
    .footer_contact{
        display: flex;
        gap: 20px;
        div:nth-child(1){
            display: flex;
            gap: 20px;
        }
        div:nth-child(2){
            display: flex;
            gap: 10px;
        }
        a{
            display: flex;
            align-items: center;
            gap: 10px;
            color: #FFF;
            font-size: 16px;
            transition: .3s linear;
            img:hover{
                transition: .3s linear;
                transform: scale(1.1);
            }
        }
    }
    .footer_bottom{
        display: flex;
        gap: 220px;
        padding: 20px 0;
        p{
            color: #FFF;
            font-size: 14px;
            font-weight: 400;
        }
    }
}
.footer_media{
    display: none;
    background: #2B7AF1;
    margin-top: 140px;
    .media_parent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 0;
        .footer_media__logo{
            background: #FFF;
            padding: 9px 13px;
            border-radius: 5px;
        }
        .social_media{
            display: flex;
            gap: 10px;
        }
    }
}
@media screen and (max-width: 1040px) {
    .footer{
        height: 40vh !important;
    }
    .footer_parent{
        height: 40vh !important;
        .footer_bar{
            .footer_logo{
                display: block;
            }
            ul{
                display: none;
            }
           
        }
        .footer_bottom{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 20px 0;
        }
    }   
}
@media screen and (max-width: 768px) {
    .footer_bar{
        div:nth-child(1){
            a:nth-child(1){
                display: none;
            }
        }
    }
    
}
@media screen and (max-width: 630px) {
    .footer{
        display: none;
    }
    .footer_media{
        display: block;
    }
}