.input_parent{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    
    .input_card{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow:  0 0 10px rgb(134, 133, 133);
        border-radius: 5px;
        padding: 40px 52px;
        top: 200px;
        background: #fff;
        h2{
            color: #2B7AF1;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 24px;
        }
        input{
            color: var(--shadow, rgba(17, 17, 17, 0.50));
            font-size: 16px;
            border-radius: 10px;
            border: 1px solid var(--shadow, rgba(17, 17, 17, 0.50));
            padding: 10px 100px 10px 20px;
            margin-bottom: 15px;
        }
        textarea{
            color: var(--shadow, rgba(17, 17, 17, 0.50));
            font-size: 16px;
            padding: 10px 100px 80px 20px;
            border-radius: 10px;
            margin-bottom: 24px;
            outline: none;
        }
        button{
            @include btn();
        }
    }
    .input_texts{
        position: relative;
        top: 240px;
        img{
            position: absolute;
            top: -40px;
            left: -20px;
        }
        p{
            color: var(--, #111);
            font-size: 18px;
            font-weight: 400;
            line-height: 140%; 
            max-width: 660px;
        }
        h4{
            color:  #2B7AF1;
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            margin-top: 20px; 
        }
        span{
            color: #111;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px; 
        }
    }
}
@media screen and (max-width: 1000px) {
    .input_parent{
        .input_card{
            padding: 30px 20px;
            top: 80px;
            background: #fff;
            h2{
                font-size: 24px;
                margin-bottom: 20px;
            }
            input{
                font-size: 12px;
                padding: 10px 100px 10px 20px;
                margin-bottom: 10px;
            }
            textarea{
                font-size: 12px;
                padding: 10px 104px 80px 20px;
                margin-bottom: 20px;
            }
            button{
                @include btn();
            }
        }
        .input_texts{
            top: 180px;
            img{
                top: -40px;
                left: -20px;
            }
            p{
                font-size: 14px;
                max-width: 600px;
            }
            h4{
                font-size: 14px;
                margin-top: 20px; 
            }
            span{
                font-size: 14px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .input_parent{
        gap: 40px;
        .input_card{
            textarea{
                padding: 10px 104px 60px 20px;
            }
        }
        .input_texts{
            top: 120px;
            p{ 
                max-width: 400px;
            }
            h4{
                margin-top: 15px; 
            }
        }
    }
}
@media screen and (max-width: 630px) {
    .input_card{
        width: 100%;
    }
    .input_texts{
        display: none;  
    }
}