.navbar__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__left {
  display: flex;
  align-items: center;
  gap: 54px;
  padding-top: 25px;
}
.nav__left__imgs__wrap {
  display: flex;
  align-items: center;
  gap: 38px;
}
.nav__left--hiden-img {
  width: 31.818px;
  height: 25px;
  object-fit: cover;
  display: none;
  cursor: pointer;
}
.nav__left--img {
  width: 135.793px;
  height: 54px;
  object-fit: cover;
}
.nav__left__links {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav__left__links--link {
  color: #111;
  font-size: 16px;
  font-weight: 600;
  &:hover{
    text-decoration: underline;
    text-decoration-color:rgb(19, 19, 19);
  }
}
.nav__right {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 5px;
  padding-left: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 0px 0px 10px 10px;
  background: #2b7af1;
}
.nav__right__email {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav__right__email--img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}
.nav__right__email--text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.navbar--btn {
  @include btn;
  padding: 15px 30px;
}
.navbar__right--hiiden-img {
  width: 30px;
  height: 30px;
  display: none;
  object-fit: cover;
  cursor: pointer;
}
@media screen and (max-width: 1270px) {
  .nav__left,
  .nav__right {
    padding-top: 15px;
  }
  .nav__left--hiden-img {
    display: block;
  }
  .nav__left--img {
    width: 87px;
    height: 34.597px;
  }
  .nav__left__links {
    display: none;
  }
  .nav__right {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 73px;
    gap: 45px;
  }
  .nav__right__email--img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  .navbar--btn {
    padding: 8px 30px;
    font-size: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .nav__left__imgs__wrap {
    gap: 28px;
  }
  .nav__left--hiden-img {
    display: block;
    width: 31.818px;
    height: 25px;
  }
  .nav__right {
    padding-left: 71px;
    gap: 40px;
  }
  .hiden {
    display: none;
  }
  .nav__right__email--img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  .navbar--btn {
    padding: 8px 30px;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .nav__right__email,
  .navbar--btn {
    display: none;
  }
  .navbar__right--hiiden-img {
    width: 30px;
    height: 30px;
    display: block;
    object-fit: cover;
  }
  .nav__right {
    gap: 15px;
    padding-left: 115px;
  }
  .nav__left {
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .nav__left__imgs__wrap {
    gap: 21px;
    align-items: center;
  }
  .nav__left--hiden-img {
    width: 32px;
    height: 33px;
  }
  .nav__right {
    padding: 15px 25px;
    gap: 15px;
  }
  .navbar__right--hiiden-img {
    width: 30px;
    height: 30px;
  }
}
