@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@400;500;600;700;800;900&family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&family=Montserrat:wght@400;500;600;700;800;900&family=Mulish:wght@700&family=Philosopher:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Sofia+Sans+Extra+Condensed:wght@400;500;600;700&family=Tilt+Prism&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barriecito", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Philosopher", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-family: "Tilt Prism", cursive;
  font-family: "Ubuntu", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.container{
    max-width: 1314px;
    padding-left: 17px;
    padding-right: 17px;
    margin: 0 auto;
}
a,li,ul,button,input{
    text-decoration: none;
    list-style: none;
    border:none;
    outline: none;
}