@mixin btn($py: 8px, $px: 20px) {
  box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.2);
  background: linear-gradient(90deg, #ff7a00 0.2%, #ffb039 99.82%);
  padding: $py $px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
